body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 20pt;
  background-color: #f0f0f0;
  color: #333333;
}

h1 {
  border-bottom: 3px solid #c0c0c0;
  font-size: 2.4em;
  font-weight: normal;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
  border-bottom: 1px solid #c0c0c0;
  margin-top: 20px;
}

h3 {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  font-size: 0.8em;
  text-align: center;
}

dt {
  font-weight: normal;
  float: left;
  clear: both;
}

li {
  padding-top: 2px;
  padding-bottom: 2px;
}

#language {
  text-align: right;
}

#name {
  font-size: 1.2em;
}

#biography dd {
  margin-left: 150px;
}

#research_interest li {
  padding-top: 0px;
  padding-bottom: 0px;
}

#links ul {
  list-style-type: none;
}

.indent {
  text-indent: 1em;
}

.bar {
  text-decoration: underline;
}
